#navbar {
    text-align: center;
}

#navbar li {
    display: inline-block;
    padding: 10px;
    background-color: purple;
}

#navbar a {
    color: red;
    background-color: purple;
}


.container > * {
    display:inline-block;
    vertical-align:top;
}
